<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--(C)2010-ID-Informatik-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" >
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <title>Maintient une connexion à un compte utilisateur</title>
        <!-- Navigator Page Id -->
        <meta http-equiv="wfw.page-id" content="check" /> 

    </head>
    <body>
        <div style="width:600">
            <h1>Maintient une connexion à un compte utilisateur</h1>

            <fieldset><legend>Résultat (-{result})</legend>
                -{error}<br/>-{field_name}
            </fieldset>
            
            <form action="#" enctype="multipart/form-data" method="post">
                <fieldset><legend>Informations sur la connexion</legend>
                    <div class="wfw_edit_field"><span><label for="txt_cid">Identificateur de connexion</label></span><span><input type="text" id="txt_uid" name="cid" value="-{cid}" /></span></div>
                </fieldset>
                <div align="right">
                    <a class="wfw_button_text" href="-{page:index}">Retour</a>
                    <input class="wfw_button_text" type="submit" value="Souscrire" />
                </div>
            </form>
        </div>
    </body>

</html>