<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--(C)2010-ID-Informatik-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:template="http://www.webframework.fr/last/xmlns/template" xml:lang="fr" lang="fr" dir="ltr">
    <head>
        <!-- Title -->
        <title>Connexion à un compte utilisateur</title>

        <!-- Navigator Page Id -->
        <meta http-equiv="wfw.page-id" content="connect" /> 

        <!-- meta -->
        <meta name="description" content="Connexion à un compte utilisateur" />
        <meta name="keywords" content="utilisateur, compte, connexion" />

        <!-- script -->
        <script type="text/javascript" src="-{_LIB_PATH_USER_MODULE_}/js/connect.js"></script>
    </head>

    <!-- Document -->
    <body>
        <h1>Connexion à un compte utilisateur</h1>
        <p>Veuillez entrer vos informations d'identification.</p>
        <form id="form" enctype="multipart/form-data" action="">
            <fieldset><legend>Identification de connexion</legend>
                <div style="display:inline-block; width:100px;">
                    <img height="80px" src="-{_LIB_PATH_USER_MODULE_}/bin/pictures/user.png" />
                </div>
                <div style="display:inline-block;">
                    <div class="wfw_edit_field"><span><label for="txt_uid">Nom d'utilisateur</label></span><span><input type="text" id="txt_uid" name="uid" /></span></div>
                    <div class="wfw_edit_field"><span><label for="txt_pwd">Mot-de-Passe</label></span><span><input type="text" id="txt_pwd" name="pwd" /></span></div>
                    <div class="wfw_edit_field"><span><label for="txt_lifetime">Temps d'inactivité avant déconnexion</label></span><span><select id="txt_lifetime" name="expire"><option value="">Illimté</option><option value="1800">30min</option><option value="3600">1h</option></select></span></div>
                </div>
            </fieldset>
            <div align="right">
                <input id="submitBtn" class="wfw_button_text" type="button" value="Connexion" />
            </div>
        </form>
    </body>
</html>