<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--(C)2010-ID-Informatik-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:template="http://www.webframework.fr/last/xmlns/template" xml:lang="fr" lang="fr" dir="ltr">
    <head>
        <!-- Title -->
        <title>Renseigner une identité</title>

        <!-- Navigator Page Id -->
        <meta http-equiv="wfw.page-id" content="identity" /> 

        <!-- meta -->
        <meta name="description" content="Renseigne l'identité personnelle d'un compte utilisateur" />
        <meta name="keywords" content="utilisateur, compte, identité" />
    </head>

    <!-- Document -->
    <body>
        <h1>Renseigner une identité</h1>
        <p>Cette page vous permez de renseigner votre identité personnelle.</p>
        <fieldset><legend>Résultat (-{error_code})</legend>
            -{error_str}
        </fieldset>
        <form id="form" enctype="multipart/form-data" action="#" method="post">
            <fieldset><legend>Votre Identité</legend>
                <div>
                    <div class="wfw_edit_field"><span><label for="last_name">Nom d'utilisateur</label></span><span><input type="text" id="user_id" name="user_id" value="sds"/></span></div>
                    <hr/>
                    <div class="wfw_edit_field"><span><label for="last_name">Nom</label></span><span><input type="text" id="last_name" name="last_name" /></span></div>
                    <div class="wfw_edit_field"><span><label for="first_name">Prénom</label></span><span><input type="text" id="first_name" name="first_name" /></span></div>
                    <div class="wfw_edit_field"><span><label for="birth_day">Date de naissance</label></span><span><input type="text" id="birth_day" name="birth_day" /></span></div>
                    <div class="wfw_edit_field"><span><label>Sexe</label></span><span><input type="radio" value="M" name="sex" />Homme <input type="radio" value="F" name="sex" />Femme</span></div>
                </div>
            </fieldset>
            <div align="right">
                <input id="submitBtn" class="wfw_button_text" type="submit" value="Enregistrer" />
            </div>
        </form>
    </body>
</html>