<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" >
	<head>
	  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	  <title>Déconnexion d'une session utilisateur</title>
	  <!-- Add-Includes (template link)-->
	  <script name="link" type="text/javascript" src="js/user/user_disconnect.js"></script>
	</head>
	<body>
	    <h1>Termine une session utilisateur</h1>
		<div  style="width:600">
		  	<fieldset><legend>Informations sur l'utilisateur</legend>
			    <div class="wfw_edit_field"><span><label for="txt_uid">Nom d'utilisateur</label></span><span><input type="text" id="txt_uid" name="uid" /></span></div>
			    <div class="wfw_edit_field"><span><label for="txt_usid">Code Session</label></span><span><input type="text" id="txt_usid" name="usid" /></span></div>
		  	</fieldset>
		  	<div align="right"><input class="wfw_button_text" type="submit" value="Deconnexion" /></div>
		</div>
	</body>
</html>