<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!-- Main template -->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:template="http://www.webframework.fr/last/xmlns/template" xml:lang="fr" lang="fr" dir="ltr">
<head template:action="merge" template:path=">head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="fr" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" /><!-- Internet explorer CSS compatible -->
    <meta http-equiv="content-script-type" content="text/javascript" /><!-- Default script langage -->

    <!-- Author -->
    <meta name="Author" lang="fr" content="AUGUEY Thomas" />
    <meta name="Publisher" lang="fr" content="AUGUEY Thomas" />
    <meta name="Copyright" content="(C)2012 Etape-Régionale" />

    <!-- FavIcon -->
    <link rel="icon" type="image/png" href="-{image:icon}" />
    <link rel="shortcut icon" type="image/x-icon" href="-{icon:favicon}" />

    <!-- Main Styles -->
    <link rel="stylesheet" href="-{_LIB_PATH_WFW_}/css/wfw-extends.css" type="text/css" />
    <link rel="stylesheet" href="-{_LIB_PATH_WFW_}/css/wfw-fieldbar.css" type="text/css" />
    <link rel="stylesheet" href="css/default.css" type="text/css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link rel="stylesheet" href="css/form.css" type="text/css" />

    <!-- Main Includes -->
    <script type="text/javascript" language="javascript" src="-{_LIB_PATH_WFW_}/javascript/base.js"></script>
    <script type="text/javascript" language="javascript" src="-{_LIB_PATH_YUI_}/yui/yui-min.js"></script>
    <script type="text/javascript" language="javascript" src="-{_LIB_PATH_WFW_}/javascript/yui/yui_config.js"></script>
    <script type="text/javascript">var wfw_yui_base_path = "-{_LIB_PATH_WFW_}/javascript/yui/";</script>
    <script type="text/javascript" language="javascript" src="-{_LIB_PATH_USER_MODULE_}/User.js"></script>

    <!-- Add-Includes
    <script type="text/javascript" language="javascript" src="js/user/user.js"></script>
    <script type="text/javascript" language="javascript" src="js/globals.js"></script>
    <script type="text/javascript" language="javascript" src="js/template.js"></script> -->

</head>

<!-- Document -->
<body>
    <div id="content" template:action="merge" template:path=">body"></div>
    <div><i>Exemple d'implémentation du module Utilisateur dans un environnement Webframework</i></div>
</body>


</html>
