<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" >
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>Création d'un compte utilisateur</title>
</head>
<body>
	<div  style="width:600">
    	<h1>Création d'un compte utilisateur</h1>
	  	<fieldset><legend>Informations sur l'utilisateur</legend>
		    <div class="wfw_edit_field"><span><label for="txt_uid">Nom d'utilisateur</label></span><span><input type="text" id="txt_uid" name="uid" /></span></div>
		    <div class="wfw_edit_field"><span><label for="txt_pwd">Mot-de-Passe</label></span><span><input type="text" id="txt_pwd" name="pwd" /></span></div>
		    <div class="wfw_edit_field"><span><label for="txt_mail">Adresse eMail</label></span><span><input type="text" id="txt_mail" name="mail" /></span></div>
	  	</fieldset>
	  	<div align="right"><input class="wfw_button_text" type="submit" value="Souscrire" /></div>
	</div>
</body>
</html>