<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:template="http://www.webframework.fr/last/xmlns/template" xml:lang="fr" lang="fr" dir="ltr">
<head>
<title>-{subject}</title>
<base href="-{__base_uri__}" target="_blank" /><!-- important pour la resolution des path-->
</head>
<!-- Document -->
<body>
    <h1>Inscription réussite</h1>
    <p>Vous avez choisi de vous inscrire sur note site Internet et nous vous en remerçions.</p>
    <p>Merci de valider votre inscription en choisissant l'une des méthodes ci-dessous :</p>
    <ul>
        <li>Cliquez sur le lien suivant: <a href="$ACTIVATION_LINK">$ACTIVATION_LINK</a></li>
        <li>Renseignez le code suivant lors de votre prochaine connexion: <code>$TOKEN</code></li>
    </ul>

</body>
</html>
