<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:template="http://www.webframework.fr/last/xmlns/template" xml:lang="fr" lang="fr" dir="ltr">
<head>
<title>-{subject}</title>
<base href="-{__base_uri__}" target="_blank" /><!-- important pour la resolution des path-->
</head>
<!-- Document -->
<body>
<div id="wfw_ext_content" style="min-width:600px;">
    <p>Vous avez demandez la récupération de vos informations de compte utilisateur.</p>
    <p>Pour rappel, voici vos identifants de connexion:</p>
    <div>Votre identifiant: $USER_ACCOUNT_ID</div>
    <div>Votre mot-de-passe: $USER_PWD</div>
    <p>Pour des raisons de securités:</p>
    <ul>
        <li>Ne conservez pas ce mail sur votre ordinateur</li>
        <li>Changez votre mot-de-passe lors de votre prochaine connexion</li>
    </ul>
</div>
</body>
</html>
